html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

#dropzone.dropzone {
    border: 2px dashed #337ab7;
    border-radius: 4px;
}

#dropzone.dz-browser-not-supported {
    border: 2px dashed #a94442;
    border-radius: 4px;
}

#dropzone.dz-browser-not-supported #info {
    color: #777;
}

#dropzone.dz-browser-not-supported .dz-message {
    text-transform: uppercase;
    color: #a94442;
    font-weight: bold;
}

.container-fluid #previews.row {
    text-align: center;
}

.container-fluid #previews.row #template {
    width: 200px;
    float: none;
    display: inline-block;
}

#template .thumbnail {
    border: 2px solid #3c763d;
}

#template.dz-error .thumbnail {
    border: 2px solid #a94442;
}

#template.dz-error.dz-processing .thumbnail {
    border: 2px solid #3c763d;
}

#template img {
    height: 160px;
    width: 160px;
    background-color: #ddd;
}

#template .picture {
    opacity: 0;
    position: absolute;
    font-size: 2em;
    transform: translate(-50%,-50%);
    top: 85px;
    left: 50%;
}

#template.dz-file-preview .picture {
    opacity: 0.75;
}

#template .delete {
    opacity: 0;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 85px;
    left: 50%;
}

#template .thumbnail:hover .delete {
    display: block;
    opacity: 0.9;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#template.dz-error .thumbnail:hover .error-message {
    display: block;
    pointer-events: auto;
    -webkit-animation: error-message-fade-in .3s linear 1, error-message-move-down .3s linear 1;
    -moz-animation: error-message-fade-in .3s linear 1, error-message-move-down .3s linear 1;
    -ms-animation: error-message-fade-in .3s linear 1, error-message-move-down .3s linear 1;
}

#template.dz-error.dz-processing .thumbnail:hover .error-message {
    display: none;
}

@-webkit-keyframes error-message-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes error-message-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes error-message-fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes error-message-move-down {
    from { top: 170px; }
    to { top: 220px; }
}
@-moz-keyframes error-message-move-down {
    from { top: 170px; }
    to { top: 220px; }
}
@-ms-keyframes error-message-move-down {
    from { top: 170px; }
    to { top: 220px; }
}

.error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: none;
    border-radius: 4px;
    font-size: 13px;
    top: 220px;
    left: 0;
    width: 200px;
    text-align: center;
    background: rgba(217, 83, 79, 0.9);
    padding: 0.5em 1.0em;
    color: white;
}

.error-message:after {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -7px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid rgba(217, 83, 79, 0.9);
}

#template .name, #template .size {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 85%;
    font-weight: bold;
    text-align: center;
}